<!DOCTYPE html>
<html>
<!--[if gte mso 9]><xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>72</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[系統發送] 山的抱抱訂單確認信 - Mountain Hug</title>
<style type="text/css">
  body {
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    background: #FFFFFF;
    border: 0;
  }

  img {
    -ms-interpolation-mode: bicubic;
  }

  .btn-reply {
    display: inline-block;
    border: 0;
    color: #fefbef;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: #357edd;
    min-width: 8rem;
    border-radius: 0.55rem;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    margin-left: 15px;
  }

  @media screen and (max-width: 480px) {
    table {
      box-sizing: border-box;
    }

    .m-100,
    .m-100 tbody,
    .m-100 tr {
      display: block;
      padding: 0;
      max-width: 100% !important;
      height: auto !important;
    }

    .m-banner {
      max-width: 190px;
    }

    .td--p {
      padding: 0 0 0 10px;
    }
  }
</style>

<div align="left" style="width: 100%; max-width: 800px; display: block; margin: 0 auto;">
  <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="left"><tr><td><![endif]-->
  <table border="0" cellspacing="0" cellpadding="0" align="left" bgcolor="#FFFFFF" style="width: 100%; max-width: 800px; margin: 0 auto;">
    <tbody>
      <tr>
        <td class="m-100" valign="middle" align="right" style="padding: 0; font-size: 12px;">
          <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="left"><tr><td><![endif]-->
          <table class="m-100" border="0" cellspacing="0" cellpadding="0" align="right" style="width:100%; max-width: 800px; text-align: right;">
            <tbody>
              <tr class="m-100">
                <td class="m-100" valign="middle" align="right">
                </td>
              </tr>
            </tbody>
          </table>
          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
      </tr>
      <tr class="m-100">
        <td class="m-100">
          <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="left"><tr><td><![endif]-->
          <table class="m-100" border="0" cellspacing="0" cellpadding="0" align="left" style="width:100%; max-width: 800px; text-align: left;">
            <tbody>
              <tr class="m-100">
                <td class="m-100" valign="middle" align="left">
                </td>
              </tr>
              <tr class="m-100">
                <td class="m-100 td--p" id="js-content" valign="middle" align="left">

                  <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>
                  <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; font-weight: bold; letter-spacing: 2px; max-width: 800px; text-align: center">謝謝您的預訂！<br>＊提醒您，完成匯款後才算預訂成功喔</p>
                  <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                  <div style="padding-right: 15px; padding-left: 15px">

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">以下為您的訂單內容：</p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">填答時間：<?= data.時間戳記 ?></p> -->
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">訂單編號：{{order_id}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂營位：{{area}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人姓名：{{name}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人聯絡電話：{{phone}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人Email：{{email}}</p>
                    <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">匯款末五碼：<?= data.匯款末五碼  ?></p> -->
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">入住日期：{{start_date}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">離開日期：{{end_date}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">總共入住：{{nights}} 晚</p>
                    {{#if tents}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">帳數：{{tents}} 帳</p>
                    {{/if}}
                    {{#if adults}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">大人：{{adults}} 位</p>
                    {{/if}}
                    {{#if children}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">小孩：{{children}} 位</p>
                    {{/if}}
                    {{#if add_bed}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">加單人床：{{add_bed}} 張</p>
                    {{/if}}
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">小計金額：{{total_fee}} 元</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">訂金：{{prepaid_fee}} 元</p>
                    <br>
                    <br>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">請於<span style="background-color: #ffc432">2天內將訂金：<b>{{prepaid_fee}}元</b>匯款至下列帳戶</span>，若未收到款項將自動取消訂位，恕不另行通知！</p><br>
                    <div style="background-color: #efefef; padding: 20px;">
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">郵局代號：700</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">匯款帳號：0281-2310-040404</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">戶名：于國華</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">新屋永安郵局</p>
                    </div>
                    <br>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify"><span style="background-color: #ffc432">＊匯款後請務必點選下方「我已匯款」填寫匯款帳號末五碼，以便順利完成預訂：</span><br><a class="btn-reply" href="https://forms.gle/QuLcBMSwwBUVZeFY9">我已匯款</a></p><br>

                    {{#if adults}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">
                        *進退場時間：
                        <br>
                        進場：14:00後可入住
                        <br>
                        退場：11:00前退宿
                      </p>
                    {{else}}
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">
                        *進退場時間：
                        <br>
                        進場：13:00後可紮營
                        <br>
                        撤帳：11:00前撤帳，13:00前離營
                        <br>
                        夜衝時間：18:00後~22:00前
                      </p>
                    {{/if}}
                    <br>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">*注意事項：小計金額非總費用，如住宿期間有其他服務費用產生將於尾款結清時收取。(例：夜衝、租借裝備等)</p>
                    <br>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">*導航注意事項：請先導航至「南投縣國姓鄉大長路681號」，再由福旗巷入口導航至「山的抱抱」</p>
                    <img src='https://mountainhug.com/assets/img/img_forEmail_map.jpg' style='width:100%; height:auto;'/>

                    <!-- <? if (data.程度 != '') { ?>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">程度：<?= data.程度 ?></p>
                    <? } ?> -->

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 18px; font-size: 12px; color: #212121; max-width: 800px; text-align: left">本信為系統自動寄發，請勿回信。有問題可至 <a href="https://letswrite.tw/gas-auto-epaper/" style="color: #00A7E5;">Let's Write</a> 留言。</p> -->

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 18px; font-size: 12px; color: #212121; max-width: 800px; text-align: left">
                    </p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

          <!-- footer-->
        </td>
      </tr>
      <tr style="background: #eeeeee;">
        <td style="font-family: Microsoft JhengHei, MingLiU, sans-serif; padding: 10px 20px 10px; text-align: center; color:#555555; font-size: 12px;">
          <p style="margin: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif;"><a style="line-height: 24px; color: #555555; text-decoration: none;" href="http://www.mountainhug.com/">山的抱抱官網</a><span style="display: inline-block; color: #555555; width: 16px;">|</span><a style="line-height: 24px; color: #555555; text-decoration: none;" href="https://www.facebook.com/MountainHug.com.tw/">Facebook</a><span style="display: inline-block; color: #555555; width: 16px;"></p>
            <div>南投縣國姓鄉大旗村</div>
            <div>0912-253-401</div>
          <!-- |</span><a style="line-height: 24px; color: #555555; text-decoration: none;" href="https://www.instagram.com/letswrite.tw/">Instgram</a> -->
          <p style="font-family: Microsoft JhengHei, MingLiU, sans-serif; margin-top: 0; margin-bottom: 0; line-height: 24px; font-size: 12px; color: #555555;">© 2022 Mountain Hug. All Rights Reserved.</p>
        </td>
      </tr>

    </tbody>
  </table>
  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

</div>

</html>