<!DOCTYPE html>
<html>
<!--[if gte mso 9]><xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>72</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<style type="text/css">
  body {
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    background: #FFFFFF;
    border: 0;
  }

  img {
    -ms-interpolation-mode: bicubic;
  }

  @media screen and (max-width: 480px) {
    table {
      box-sizing: border-box;
    }

    .m-100,
    .m-100 tbody,
    .m-100 tr {
      display: block;
      padding: 0;
      max-width: 100% !important;
      height: auto !important;
    }

    .m-banner {
      max-width: 190px;
    }

    .td--p {
      padding: 0 0 0 10px;
    }
  }
</style>

<div align="center" style="width: 100%; max-width: 800px; display: block; margin: 0 auto;">
  <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="center"><tr><td><![endif]-->
  <table border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="width: 100%; max-width: 800px; margin: 0 auto;">
    <tbody>
      <tr>
        <td class="m-100" valign="middle" align="right" style="padding: 0; font-size: 12px;">
          <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="center"><tr><td><![endif]-->
          <table class="m-100" border="0" cellspacing="0" cellpadding="0" align="right" style="width:100%; max-width: 800px; text-align: right;">
            <tbody>
              <tr class="m-100">
                <td class="m-100" valign="middle" align="right">
                </td>
              </tr>
            </tbody>
          </table>
          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
      </tr>
      <tr class="m-100">
        <td class="m-100">
          <!--[if (gte mso 9)|(IE)]><table width="800" data-width cellpadding="0" cellspacing="0" border="0" align="center"><tr><td><![endif]-->
          <table class="m-100" border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%; max-width: 800px; text-align: center;">
            <tbody>
              <tr class="m-100">
                <td class="m-100" valign="middle" align="center">
                </td>
              </tr>
              <tr class="m-100">
                <td class="m-100 td--p" id="js-content" valign="middle" align="center">

                  <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>
                  <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 24px; color: #212121; font-weight: bold; letter-spacing: 2px; max-width: 800px; text-align: center">謝謝您的預訂</p> -->
                  <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                  <div style="padding-right: 15px; padding-left: 15px">

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">露營區客人訂單內容：</p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">填答時間：<?= data.時間戳記 ?></p> -->
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">訂單編號：{{order_id}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂營位：{{area}}</p>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人姓名：{{name}}</p>
                     <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人聯絡電話：{{phone}}</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">預訂人Email：{{email}}</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">入住日期：{{start_date}}</p>

                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">離開日期：{{end_date}}</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">總共入住：{{nights}} 晚</p>
                      {{#if tents}}
                        <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">帳數：{{tents}} 帳</p>
                      {{/if}}
                      {{#if adults}}
                        <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">大人：{{adults}} 位</p>
                      {{/if}}
                      {{#if children}}
                        <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">小孩：{{children}} 位</p>
                      {{/if}}
                      {{#if add_bed}}
                        <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">加單人床：{{add_bed}} 張</p>
                      {{/if}}
                      <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">匯款末五碼：<?= data.匯款末五碼  ?></p> -->
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">小計金額：{{total_fee}} 元</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">訂金：{{prepaid_fee}} 元</p>
                      <br>
                      <br>
                      <br>
                      <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">請於2天內將訂金<b><?= data.訂金  ?>元</b>匯款至以下帳戶，待確認收到匯款後才算預訂成功喔！</p><br>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">匯款帳號：870 1234-567-8910</p>
                      <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">匯豐國際商銀</p> -->



                    <!-- <? if (data.喜好 != '') { ?>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">喜好：<?= data.聯絡手機 ?></p>
                    <? } ?>

                    <? if (data.程度 != '') { ?>
                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 34px; font-size: 18px; color: #212121; max-width: 800px; text-align: justify">程度：<?= data.程度 ?></p>
                    <? } ?> -->

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <!-- <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 18px; font-size: 12px; color: #212121; max-width: 800px; text-align: center">本信為系統自動寄發，請勿回信。有問題可至 <a href="https://letswrite.tw/gas-auto-epaper/" style="color: #00A7E5;">Let's Write</a> 留言。</p> -->

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 18px; font-size: 12px; color: #212121; max-width: 800px; text-align: center">
                    </p>

                    <p class="m-100" style="margin: 0; padding: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif; line-height: 16px; height: 16px; font-size: 16px; color: #EEEEEE; max-width: 800px;">&nbsp;</p>

                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

          <!-- footer-->
        </td>
      </tr>
      <tr style="background: #eeeeee;">
        <td style="font-family: Microsoft JhengHei, MingLiU, sans-serif; padding: 10px 20px 10px; text-align: center; color:#555555; font-size: 12px;">
          <p style="margin: 0; font-family: Microsoft JhengHei, MingLiU, sans-serif;"><a style="line-height: 24px; color: #555555; text-decoration: none;" href="http://www.mountainhug.com/">山的抱抱官網</a><span style="display: inline-block; color: #555555; width: 16px;">|</span><a style="line-height: 24px; color: #555555; text-decoration: none;" href="https://www.facebook.com/MountainHug.com.tw/">Facebook</a><span style="display: inline-block; color: #555555; width: 16px;"></p>
          <!-- |</span><a style="line-height: 24px; color: #555555; text-decoration: none;" href="https://www.instagram.com/letswrite.tw/">Instgram</a> -->
          <p style="font-family: Microsoft JhengHei, MingLiU, sans-serif; margin-top: 0; margin-bottom: 0; line-height: 24px; font-size: 12px; color: #555555;">© 2022 Mountain Hug. All Rights Reserved.</p>
        </td>
      </tr>

    </tbody>
  </table>
  <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

</div>

</html>